.container {
    /*The traffic light body*/
    background-color: black;
    padding: 50px;
    width: 300px;
}

.container > div {
    /*Each light*/
    padding: 100px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: relative;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.selected {
    /*Lighting light*/
    box-shadow: 0px 0px 100px 100px white;
    z-index: 1;
}